{% extends "base.html" %}

{% block title %}Registration{% endblock %}
{% block content %}
  <section class="cid-qCsh8tVCqN mbr-fullscreen mbr-parallax-background" id="header2-f" data-rv-view="60">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(51, 51, 51);"></div>
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Page Not Found! 404</h1>
            </div>
        </div>
    </div>
    </div>
    </section>

{% endblock %}
