<!DOCTYPE html>
<html>

<head>
{% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename = 'rasp.ico') }}" type="image/x-icon">
  <meta name="description" content="">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = "assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = "assets/web/assets/mobirise-icons/mobirise-icons.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = "assets/tether/tether.min.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = "assets/bootstrap/css/bootstrap.min.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = "assets/bootstrap/css/bootstrap-grid.min.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = "assets/bootstrap/css/bootstrap-reboot.min.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = "assets/socicon/css/styles.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = "assets/dropdown/css/style.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = "assets/theme/css/style.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = "assets/mobirise/css/mbr-additional.css") }}" type="text/css">
{% endblock %}
</head>




<body>
{% block body %}

<section class="menu cid-qCsrT80Fio" once="menu" id="menu1-i" data-rv-view="63">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://rasp.wirr.pro">
                         <img src="{{ url_for('static', filename = "assets/images/raspberry-pi-icon-512x512.png") }}" alt="" title="" media-simple="true" style="height: 4rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="https://mobirise.com">RASPFM</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="https://mobirise.com">
                    <span class="mbrib-music mbr-iconfont mbr-iconfont-btn"></span>Listen</a></li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="https://mobirise.com">
                        <span class="mbri-upload mbr-iconfont mbr-iconfont-btn"></span>Upload</a></li>
                <li class="nav-item"><a class="nav-link link text-white display-4" href="https://mobirise.com">
                    <span class="mbri-align-left mbr-iconfont mbr-iconfont-btn"></span>History</a></li>
                <li class="nav-item"><a class="nav-link link text-white display-4" href="https://mobirise.com">
                    <span class="mbri-database mbr-iconfont mbr-iconfont-btn"></span>Bands</a></li></ul>
        </div>
    </nav>
</section>

{% block content %}
<section class="engine"></section><section class="cid-qCsh8tVCqN mbr-fullscreen mbr-parallax-background" id="header2-f" data-rv-view="60">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(51, 51, 51);"></div>
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Home Network Radio for Raspberry Pi 3</h1>
                <div class="mbr-section-btn"><a class="btn btn-md btn-white display-4" href="{{ url_for('auth.login') }}">&nbsp;Sign In&nbsp;</a>
                    <a class="btn btn-md btn-white-outline display-4" href="{{ url_for('auth.register') }}">Register</a></div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>
{% endblock %}
{% block footer %}
<section once="" class="cid-qCxrvWpsT6" id="footer7-p" data-rv-view="65">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">

                    <li class="foot-menu-item mbr-fonts-style display-4">wirr@wirr.pro</li>
                </ul>
            </div>
            <div class="row social-row">
                <div class="social-list align-right pb-2">
                <div class="soc-item">
                        <a href="https://twitter.com/wirrja" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" media-simple="true"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://vk.com/wirrja" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-vkontakte socicon" media-simple="true"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://web.telegram.org/#/im?p=@stonedwirr" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-telegram socicon" media-simple="true"></span>
                        </a>
                    </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7"></p>
            </div>
        </div>
    </div>

</section>
{% endblock %}
  <script src="{{ url_for('static', filename = "assets/web/assets/jquery/jquery.min.js") }}"></script>
  <script src="{{ url_for('static', filename = "assets/popper/popper.min.js") }}"></script>
  <script src="{{ url_for('static', filename = "assets/tether/tether.min.js") }}"></script>
  <script src="{{ url_for('static', filename = "assets/bootstrap/js/bootstrap.min.js") }}"></script>
  <script src="{{ url_for('static', filename = "assets/dropdown/js/script.min.js") }}"></script>
  <script src="{{ url_for('static', filename = "assets/touchswipe/jquery.touch-swipe.min.js") }}"></script>
  <script src="{{ url_for('static', filename = "assets/smoothscroll/smooth-scroll.js") }}"></script>
  <script src="{{ url_for('static', filename = "assets/parallax/jarallax.min.js") }}"></script>
  <script src="{{ url_for('static', filename = "assets/theme/js/script.js") }}"></script>
{% endblock %}

</body>
</html>